pandas==1.5.3
re
string
langdetect==1.0.9
deep-translator==1.9.2
nltk==3.7
contractions==0.0.50
wordcloud==1.8.1
matplotlib==3.7.1
collections
numpy==1.23.5
seaborn==0.11.2
scikit-learn==1.1.2
tensorflow==2.10.0
keras==2.10.0
pickle-mixin==1.0.2
time
transformers==4.28.0
streamlit==1.17.0
sys
csv
gc
